---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="hero bg-base-200 min-h-screen">
			<div class="hero-content flex-col lg:flex-row">
				<div class="text-center lg:text-left">
					<h1 class="text-5xl font-bold">Hello, my name is Ivan Hilmi Derian</h1>
					<p class="py-4">
						software engineer with focus on backend and experience in multiple programming language and technology
					</p>
				</div>
				<div class="card bg-base-100 w-full max-w-sm shrink-0 shadow-2xl">
					<div class="mockup-code">
						<pre data-prefix=">"><code>Working on: xxxx</code></pre>
						<pre data-prefix=">"><code>currently learning: RabbitMQ</code></pre>
						<pre data-prefix=">"><code>github: <a href="https://github.com/thiccpan">github.com/thiccpan</a></code></pre>
						<pre data-prefix=">"><code>...</code></pre>
						<pre data-prefix=">"><code>...</code></pre>
					</div>
				</div>
				</div>
			</div>
		</div>
</Layout>

