---
interface Props {
  title: string;
  subItem: string[];
}

const { title, subItem } = Astro.props;
---

<div class="fixed navbar bg-base-100 px-4">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">{title}</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
        <details>
          <summary>Section</summary>
          <ul class="bg-base-100 rounded-t-none p-2">
            {
              subItem.map((item) => (
                <li class="z-50">
                  <a>{item}</a>
                </li>
              ))
            }
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
